body {
  background: rgb(24,28,45);
  background: -moz-linear-gradient(90deg, rgba(24,28,45,1) 2%, rgba(24,28,45,1) 84%, rgba(51,56,80,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(24,28,45,1) 2%, rgba(24,28,45,1) 84%, rgba(51,56,80,1) 100%);
  background: linear-gradient(90deg, rgba(24,28,45,1) 2%, rgba(24,28,45,1) 84%, rgba(51,56,80,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#181c2d",endColorstr="#333850",GradientType=1);  
}

h1, h3 {
  color: #FFF;
}