body {
  background: rgb(24,28,45);
  background: -moz-linear-gradient(90deg, rgba(24,28,45,1) 2%, rgba(24,28,45,1) 84%, rgba(51,56,80,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(24,28,45,1) 2%, rgba(24,28,45,1) 84%, rgba(51,56,80,1) 100%);
  background: linear-gradient(90deg, rgba(24,28,45,1) 2%, rgba(24,28,45,1) 84%, rgba(51,56,80,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#181c2d",endColorstr="#333850",GradientType=1);  
}

h1, h3 {
  color: #727E92;
  font-family: 'Roboto', sans-serif;
}

/* Header Component  */

.header {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.header h1 {
  font-color: #727E92;
  font-weight: 700;
  font-size: 2em;

}

/* App.js Styling */

.navMain {
  display: flex;
  flex-direction: row;
  width: 15vw;
  justify-content: space-between;
  margin-bottom: 3em;
}

    /* App.js buttons */

.navButtons {
  color: #FFF;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: red;
  padding: 0.5em;
}    

.addTweak {
  border-radius: 15px;
}

/* TweakWishList styling */
.wishlistMain {
  display: flex;
  flex-wrap: wrap;
}

.tweakCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #20263A;
  margin: 2em;
  padding: 2em;
  height: 50vh;
  width: 35vw;
  border-radius: 5px;
}

.tweakCard h1 {
  color: #FFF;
}

.tweakCard img {
  width: 100%;
  height: auto;
  max-width: 250px;
}

.tweakButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tweakInfo h1 {
  margin-bottom: 2em;
}

.tweakInfo p {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2em;
}

.footer {
  
  position: absolute;
  bottom: 0;
}